@reference "../../../../styles/global.css";

.blog-content h1 {
  @apply mt-0 mb-4 text-4xl leading-tight font-bold;
}

.blog-content h2 {
  @apply bg-surface sticky top-0 z-20 mt-10 py-5 text-3xl leading-none font-bold;
}

.blog-content h3 {
  @apply mt-10 mb-4 text-2xl font-bold;
}

.blog-content h4 {
  @apply mt-10 mb-4 text-xl font-bold;
}

.blog-content h5 {
  @apply mt-8 mb-2 text-lg font-bold;
}

.blog-content h6 {
  @apply mt-6 mb-2 text-base font-bold;
}

.blog-content strong {
  @apply font-semibold;
}

.blog-content blockquote {
  @apply border-elevate my-2 border-l-4 pl-4 font-medium italic;
}

.blog-content ul {
  @apply mb-6 ml-8 list-outside list-disc;
}

.blog-content ul > li > ul {
  @apply ml-4;
}

.blog-content ol {
  @apply mb-6 ml-8 list-outside list-decimal;
}

.blog-content li {
  @apply marker:text-default text-base;
}

.blog-content p {
  @apply mb-5 text-lg leading-[1.75];
}

.blog-content p + p {
  @apply -mt-3;
}

.blog-content hr {
  @apply border-surface my-5;
}

/* Expressive Code Block */
.blog-content div.expressive-code {
  @apply mb-5;
}

/* Tables */
.blog-content table {
  @apply my-6 flex w-full flex-col;
}

.blog-content tr {
  @apply flex w-full text-center;
}

.blog-content th,
.blog-content td {
  @apply flex-1 overflow-hidden border-1 border-gray-200 px-4 py-3 text-ellipsis whitespace-nowrap;
}

.blog-content th {
  @apply border-gray-200 bg-gray-100 font-bold;
}

/* Callouts */

.blog-content [data-callout] {
  @apply my-6 space-y-2 rounded-lg p-4 pb-5 text-gray-800 dark:text-gray-300;

  & [data-callout-title] {
    @apply mb-2 flex text-base font-bold;

    &::before {
      @apply mr-2 block h-5 w-5 flex-shrink-0 bg-current content-[""];
      mask-repeat: no-repeat;
      mask-size: cover;
    }
  }

  & p {
    @apply m-0;
  }
}

/* Callout Types */

/* Blue Callouts */
.blog-content [data-callout-type="note"],
[data-callout-type="info"] {
  @apply bg-blue-100/50 dark:bg-blue-900/20;
  & [data-callout-title] {
    @apply text-blue-600;
  }
}
.blog-content [data-callout-type="note"] {
  & [data-callout-title] {
    &::before {
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzg4ODg4OCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiPjxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjEwIi8+PHBhdGggZD0iTTEyIDE2di00bTAtNGguMDEiLz48L2c+PC9zdmc+");
    }
  }
}
.blog-content [data-callout-type="info"] {
  & [data-callout-title] {
    &::before {
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzg4ODg4OCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiPjxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjEwIi8+PHBhdGggZD0iTTEyIDE2di00bTAtNGguMDEiLz48L2c+PC9zdmc+");
    }
  }
}

/* Emerald Callouts */
.blog-content [data-callout-type="tip"],
[data-callout-type="important"] {
  @apply bg-emerald-100/50 dark:bg-emerald-900/20;
  & [data-callout-title] {
    @apply text-emerald-600;
    &::before {
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTguNSAxNC41QTIuNSAyLjUgMCAwIDAgMTEgMTJjMC0xLjM4LS41LTItMS0zYy0xLjA3Mi0yLjE0My0uMjI0LTQuMDU0IDItNmMuNSAyLjUgMiA0LjkgNCA2LjVjMiAxLjYgMyAzLjUgMyA1LjVhNyA3IDAgMSAxLTE0IDBjMC0xLjE1My40MzMtMi4yOTQgMS0zYTIuNSAyLjUgMCAwIDAgMi41IDIuNSIvPjwvc3ZnPg==");
    }
  }
}

/* Amber Callouts */
.blog-content [data-callout-type="warning"],
[data-callout-type="attention"],
[data-callout-type="question"],
[data-callout-type="help"],
[data-callout-type="faq"] {
  @apply bg-amber-100/50 dark:bg-amber-900/20;
  & [data-callout-title] {
    @apply text-amber-600;
  }
}

/* Warning Icon */
.blog-content [data-callout-type="warning"],
[data-callout-type="attention"] {
  & [data-callout-title] {
    &::before {
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0ibTIxLjczIDE4bC04LTE0YTIgMiAwIDAgMC0zLjQ4IDBsLTggMTRBMiAyIDAgMCAwIDQgMjFoMTZhMiAyIDAgMCAwIDEuNzMtM00xMiA5djRtMCA0aC4wMSIvPjwvc3ZnPg==");
    }
  }
}
/* Question Icon */
.blog-content [data-callout-type="question"],
[data-callout-type="help"],
[data-callout-type="faq"] {
  & [data-callout-title] {
    &::before {
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiI+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMTAiLz48cGF0aCBkPSJNOS4wOSA5YTMgMyAwIDAgMSA1LjgzIDFjMCAyLTMgMy0zIDNtLjA4IDRoLjAxIi8+PC9nPjwvc3ZnPg==");
    }
  }
}

/* Red Callouts */
.blog-content [data-callout-type="caution"],
[data-callout-type="bug"] {
  @apply bg-red-100/50 dark:bg-red-600/15;
  & [data-callout-title] {
    @apply text-red-600;
  }
}
/* Caution Icon */
.blog-content [data-callout-type="caution"] {
  & [data-callout-title] {
    &::before {
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0ibTIxLjczIDE4bC04LTE0YTIgMiAwIDAgMC0zLjQ4IDBsLTggMTRBMiAyIDAgMCAwIDQgMjFoMTZhMiAyIDAgMCAwIDEuNzMtM00xMiA5djRtMCA0aC4wMSIvPjwvc3ZnPg==");
    }
  }
}
/* Bug Icon */
[data-callout][data-callout-type="bug"] {
  & [data-callout-title] {
    &::before {
      /* lucide:bug */
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiI+PHBhdGggZD0ibTggMmwxLjg4IDEuODhtNC4yNCAwTDE2IDJNOSA3LjEzdi0xYTMuMDAzIDMuMDAzIDAgMSAxIDYgMHYxIi8+PHBhdGggZD0iTTEyIDIwYy0zLjMgMC02LTIuNy02LTZ2LTNhNCA0IDAgMCAxIDQtNGg0YTQgNCAwIDAgMSA0IDR2M2MwIDMuMy0yLjcgNi02IDZtMCAwdi05Ii8+PHBhdGggZD0iTTYuNTMgOUM0LjYgOC44IDMgNy4xIDMgNW0zIDhIMm0xIDhjMC0yLjEgMS43LTMuOSAzLjgtNE0yMC45NyA1YzAgMi4xLTEuNiAzLjgtMy41IDRNMjIgMTNoLTRtLS44IDRjMi4xLjEgMy44IDEuOSAzLjggNCIvPjwvZz48L3N2Zz4=");
    }
  }
}
